* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.btn {
  padding: 15px 20px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 500;
  transition: background-color 250ms;
}
.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

header {
  width: 100%;
}

img {
  width: 100%;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__logo {
  display: flex;
  height: 63px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  color: #101010;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__logo-link {
  font-family: "Shrikhand";
  font-size: 30px;
  text-decoration: none;
  color: #101010;
}
.header__location {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background: #EAEAEA;
  color: #353535;
  font-size: 1rem;
  font-weight: 500;
  padding: 17px 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hero {
  background: #F6F6F6;
  padding: 2.44rem 0 3.56rem 0;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.hero__title-text {
  font-weight: 700;
  margin: 0 3.62rem 1rem 2.62rem;
}
.hero__title-description {
  font-size: 1.125rem;
  font-weight: 300;
  color: #353535;
  margin: 0rem 1.62rem 1.69rem 2.13rem;
}

.menu {
  padding: 3rem 1.25rem 4.25rem 2.03rem;
}
.menu__title-text {
  margin-bottom: 1.62rem;
}
.menu__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.56rem;
  counter-reset: compteListe;
  margin-left: 0.78rem;
}
.menu__content-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  height: 72px;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 25px 38px 28px 36px;
  cursor: pointer;
  position: relative;
}
.menu__content-item .menu__content-icon {
  color: #7E7E7E;
}
.menu__content-item .menu__content-icon:hover {
  color: #9356DC;
}
.menu__content-item:before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  position: absolute;
  left: -0.7rem;
}

.restaurants {
  background: #F6F6F6;
  padding: 0 1.12rem 4.12rem 1.12rem;
}

.restaurants__title {
  padding: 54px 0px 20px 20px;
  font-size: 1.5rem;
  font-weight: 700;
}
.restaurants__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.restaurants__content-link {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.restaurants__content-image {
  width: 100%;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
  position: relative;
}
.restaurants__content-badge {
  padding: 10px 20px;
  background: #99E2D0;
  color: #008766;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.restaurants__content-description {
  padding: 16px 0px 16px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #101010;
}
.restaurants__content-title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.restaurants__content-text {
  font-size: 1rem;
  font-weight: 300;
}
.restaurants__content-like {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 10px 16px 16px 0px;
}
.restaurants__content-heart {
  color: #101010;
  position: absolute;
  margin-right: 0.56rem;
  font-size: 1.5rem;
}
.restaurants__content-heart:hover {
  background-color: #9356DC;
}
.restaurants__content-heart:active {
  background-color: #9356DC;
}

.footer__container {
  background: #353535;
  color: #FFFFFF;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.footer__container .footer__logo-link {
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
}
.footer__container .footer__links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__container .footer__links .footer__content-icon {
  color: #FFFFFF;
  font-size: 1rem;
  width: 1.25rem;
}
.footer__container .footer__links .footer__links-text {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
}
.footer__container .footer__links .main-links {
  font-weight: 500;
}

@media (min-width: 1024px) {
  .hero {
    padding: 1.88rem 0;
  }
  .menu {
    padding: 3rem 12.94rem 4.25rem 11.25rem;
  }
  .menu__content {
    flex-direction: row;
    gap: 2.28rem;
  }
  .restaurants {
    padding: 0 11.25rem 1.88rem 11.25rem;
  }
  .restaurants__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3.12rem 6.25rem;
    padding: 25px 0 0;
  }
  .footer__container {
    flex-direction: row-reverse;
    padding: 1.56rem;
  }
  .footer__container .footer__logo-link {
    margin-right: 3rem;
  }
  .footer__container .footer__links {
    flex-direction: row;
    margin-right: 1rem;
    gap: 1rem;
  }
  .footer__container .footer__links-item:nth-child(2n) {
    margin-right: 2rem;
  }
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.header__arrow-icon {
  color: #101010;
  font-size: 1.3rem;
  margin-right: 1rem;
}

.header__logo {
  box-shadow: none;
}

.menu {
  background: #F6F6F6;
  margin-top: -2.2rem;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  position: relative;
  padding: 2rem 0.81rem 2.5rem 0.81rem;
}
.menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
  border-radius: 20px 20px 0 0;
}
.menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__title-text {
  font-family: Shrikhand;
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.menu__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}
.menu__card-name {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
.menu__card-name:after {
  content: "";
  display: block;
  width: 2.5rem;
  height: 4px;
  border-bottom: 0.25rem solid #99E2D0;
}
.menu__card-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: #FFFFFF;
  width: 100%;
  padding: 1rem;
  border-radius: 0.94rem;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
}
.menu__card-title {
  font-size: 1.125rem;
  font-weight: 500;
}
.menu__card-text {
  font-size: 0.94rem;
  font-weight: 300;
}
.menu__card-price {
  font-size: 0.94rem;
  font-weight: 700;
}
.menu__button {
  width: 11.625rem;
  height: 3.125rem;
  align-self: center;
}

@media (min-width: 1024px) {
  .menu {
    margin: -3rem 12rem 0;
    padding: 3rem 10rem 2.5rem 13rem;
  }
  .menu__title {
    justify-content: center;
    gap: 3.5rem;
  }
}/*# sourceMappingURL=menu-1.css.map */