@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes blur {
  from {
    filter: blur(0);
    opacity: 1;
  }
  to {
    filter: blur(3px);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes CardAnimation {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideRight {
  0% {
    margin-right: 0;
  }
  to {
    margin-right: 60px;
  }
}
.btn {
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  padding: 15.5px 22px;
  border-radius: 25px;
  transition: all 450ms;
}
.btn:hover {
  filter: brightness(1.1);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(140, 140, 140, 0.3);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  animation: loader 3s forwards;
  z-index: 1;
}

#loadingInnerWrapper {
  position: relative;
  font-size: 3rem;
  color: #9356DC;
  text-align: center;
  top: 40%;
}

#load1 {
  animation: blur alternate 1s;
}

#load2 {
  animation: blur alternate 1s 0.38s;
}

#load3 {
  animation: blur alternate 1s 0.62s;
}

.header {
  background: #F6F6F6;
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 100%;
  background: #FFFFFF;
  color: #101010;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}
.header__logo-link {
  font-family: "Shrikhand";
  font-size: 1.875rem;
  text-decoration: none;
  color: #101010;
}
.header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 17px;
  background: #EAEAEA;
  color: #353535;
  font-size: 1rem;
  font-weight: 500;
  padding: 17px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding: 2rem;
    box-shadow: none;
  }
  .header__location {
    box-shadow: none;
  }
}

.hero {
  background: #F6F6F6;
  padding: 2.44rem 0 3.56rem 0;
}
.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.hero__title-text {
  font-weight: 700;
  margin: 0 3.62rem 1rem 2.62rem;
}
.hero__title-description {
  font-size: 1.125rem;
  font-weight: 300;
  color: #353535;
  margin: 0rem 1.62rem 1.69rem 2.13rem;
}
@media screen and (min-width: 1075px) {
  .hero {
    padding: 1.88rem 0;
  }
}
@media screen and (min-width: 768px) {
  .hero__title-text {
    font-size: 2.5rem;
  }
}

.menu {
  padding: 3rem 1.25rem 4.25rem 2.03rem;
}
@media screen and (min-width: 768px) and (max-width: 1075px) {
  .menu {
    padding: 3rem;
  }
}
.menu__title-text {
  margin-bottom: 1.62rem;
}
.menu__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.56rem;
  counter-reset: compteListe;
  margin-left: 0.78rem;
}
.menu__content-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 1.25rem;
  height: 72px;
  border-radius: 1.25rem;
  background: #F6F6F6;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  padding: 1.25rem 0.8rem 1.75rem 2rem;
  cursor: pointer;
  position: relative;
  transition: all 450ms, background-color 300ms 150ms;
}
.menu__content-item .menu__content-icon {
  color: #7E7E7E;
}
.menu__content-item:before {
  display: flex;
  justify-content: center;
  align-items: center;
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 6.25rem;
  color: #FFFFFF;
  position: absolute;
  left: -0.7rem;
}
.menu__content-item:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.menu__content-item:hover .menu__content-icon {
  color: #9356DC;
}
.menu__content-title {
  font-size: 1rem;
  font-weight: 500;
}
@media screen and (min-width: 1075px) {
  .menu {
    padding: 3rem 12.94rem 4.25rem 11.25rem;
  }
  .menu__content {
    flex-direction: row;
    gap: 2.28rem;
  }
  .menu__content-item {
    padding: 1.25rem 2.375rem 1.75rem 2.25rem;
  }
}

.restaurants {
  background: #F6F6F6;
  padding: 3.75rem 1.12rem 4.12rem 1.12rem;
}
@media screen and (min-width: 768px) and (max-width: 1075px) {
  .restaurants {
    padding: 3rem;
  }
}
.restaurants__title {
  padding-bottom: 1.25rem;
}
.restaurants-text {
  font-size: 1.5rem;
  font-weight: 700;
}
.restaurants__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
}
.restaurants__content-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.restaurants__content-image {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
  position: relative;
}
.restaurants__content-badge {
  padding: 10px 20px;
  background: #99E2D0;
  color: #008766;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.restaurants__content-description {
  padding: 1rem 0 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  color: #101010;
}
.restaurants__content-title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.restaurants__content-text {
  font-size: 1rem;
  font-weight: 300;
}
.restaurants__content-heart {
  font-size: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: -32px;
}
.restaurants__content-heart__outline {
  position: absolute;
}
.restaurants__content-heart__solid {
  position: absolute;
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.restaurants__content-heart:hover {
  cursor: pointer;
}
.restaurants__content-heart:hover .restaurants__content-heart__solid {
  transform: scale(1);
  opacity: 1;
}
.restaurants__content-heart:hover .restaurants__content-heart__outline {
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
@media screen and (min-width: 768px) {
  .restaurants__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem 2rem;
    padding: 25px 0 0;
  }
}
@media screen and (min-width: 1075px) {
  .restaurants {
    padding: 1.88rem 11.25rem 1.88rem 11.25rem;
  }
  .restaurants__content {
    gap: 3.12rem 6.25rem;
    padding: 25px 0 0;
  }
}

.footer__container {
  background: #353535;
  color: #FFFFFF;
  padding: 1.375rem 1.563rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1075px) {
  .footer__container {
    padding: 3rem;
  }
}
.footer__container .footer__logo-link {
  font-family: "Shrikhand";
  font-size: 1.125rem;
  font-weight: 400;
  color: #FFFFFF;
}
.footer__container .footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
.footer__container .footer__links .footer__content-icon {
  color: #FFFFFF;
  font-size: 1rem;
  width: 1.25rem;
}
.footer__container .footer__links .footer__links-text {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 400;
}
.footer__container .footer__links .main-links {
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .footer__container {
    height: 7.12rem;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: flex-end;
  }
  .footer__container .footer__logo-link {
    margin-right: 3rem;
  }
  .footer__container .footer__links {
    flex-direction: row;
    margin-right: 1rem;
    gap: 1rem;
  }
  .footer__container .footer__links-item:nth-child(2n) {
    margin-right: 2rem;
  }
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;
}
.header__arrow-icon {
  color: #353535;
  font-size: 1.3rem;
  margin-right: 1rem;
}
.header__logo {
  box-shadow: none;
}
.header__logo-link {
  padding-right: 1.25rem;
}

.banner__img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .banner {
    height: 380px;
  }
}

.menu {
  background: #F6F6F6;
  margin-top: -2.2rem;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  position: relative;
  padding: 2rem 0.81rem 2.5rem 0.81rem;
}
.menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
  border-radius: 20px 20px 0 0;
}
.menu__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.menu__title-text {
  font-family: Shrikhand;
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .menu__title-text {
    width: auto;
  }
}
.menu__title-heart {
  top: -5px;
}
.menu__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}
.menu__card-name {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
.menu__card-name:after {
  content: "";
  display: block;
  width: 2.5rem;
  height: 4px;
  border-bottom: 0.25rem solid #99E2D0;
}
.menu__card-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: #FFFFFF;
  width: 100%;
  padding: 1rem;
  border-radius: 0.94rem;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  animation: CardAnimation 1s ease both;
}
.menu__card-item:hover .menu__card-price {
  animation: slideRight 0.5s forwards;
}
.menu__card-item:hover .menu__card-selected {
  transform: translateX(0);
}
.menu__card-item:hover .menu__card-selected-icon {
  transform: rotate(360deg);
}
.menu__card-description {
  animation: CardAnimation 1s ease-in-out both;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__card-title {
  font-size: 1.125rem;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__card-text {
  font-size: 0.94rem;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__card-price {
  color: #353535;
  font-size: 0.94rem;
  font-weight: 700;
  margin-left: 12px;
}
.menu__card-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0.94rem 0.94rem 0;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  background: #99E2D0;
  color: #FFFFFF;
  padding: 23px 20px;
  transform: translateX(65px);
  transition: all 450ms;
}
.menu__card-selected-icon {
  font-size: 1.5rem;
  height: 1.69rem;
  width: 1.5rem;
  transform: rotate(270deg);
  transition: 0.5s ease-in-out;
}
.menu__button {
  width: 186px;
  height: 50px;
  align-self: center;
}
@media screen and (min-width: 768px) and (max-width: 1075px) {
  .menu {
    margin: -3rem 3rem 0;
    padding: 3rem;
  }
  .menu__title {
    justify-content: center;
    gap: 3.5rem;
  }
}
@media screen and (min-width: 1075px) {
  .menu {
    margin: -3rem 12rem 0;
    padding: 3rem 10rem 2.5rem 13rem;
  }
  .menu__title {
    justify-content: center;
    gap: 3.5rem;
  }
}/*# sourceMappingURL=menu-1.css.map */