@use 'style' as s

@keyframes CardAnimation
    from
        opacity: 0
        transform: translateY(5px)
    to
        opacity: 1
        transform: translateY(0)
    
.header__container
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 0 16px

.header__arrow-icon
    color: s.$black
    font-size: 1.3rem
    margin-right: 1rem
.header__logo
    box-shadow: none

.menu
    background: s.$background
    margin-top: -2.2rem
    border-radius: 2rem 2rem 0 0
    z-index: 1
    position: relative
    padding: 2rem .81rem 2.5rem .81rem
    &__container
        display: flex
        flex-direction: column
        justify-content: space-between
        gap: 2.5rem
        border-radius: 20px 20px 0 0
    &__title
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        &-text
            font-family: Shrikhand
            font-size: 1.75rem
            font-weight: 400
            margin-bottom: .5rem
    &__card
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: .75rem
        &-name
            font-size: 1rem
            font-weight: 300
            text-transform: uppercase
            &:after
                content: ''
                display: block
                width: 2.5rem
                height: 4px
                border-bottom: .25rem solid s.$green
        &-item
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: flex-end
            background: s.$white
            width: 100%
            padding: 1rem
            border-radius: .94rem
            box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10)
            position: relative
            overflow: hidden
            cursor: pointer
            animation: CardAnimation 2s ease both
            &:hover
                .menu__card-selected
                    transform: translateX(0)
        &-title
            font-size: 1.125rem
            font-weight: 500
        &-text
            font-size: .94rem
            font-weight: 300
        &-price
            font-size: .94rem
            font-weight: 700
        &-selected
            display: flex
            align-items: center
            justify-content: center
            border-radius: 0 .94rem .94rem 0
            // transform: rotate(180deg)
            // transition: all .4s
            position: absolute
            right: 0
            top: 0
            font-size: 20px
            background: s.$green
            color: s.$white
            padding: 22.5px 20px
            // margin: -1rem -5rem -1rem 1rem
            // width: 4rem
            transform-origin: right 50%
            transform: translateX(65px)
            // overflow: hidden
            transition-duration: 0.5s
            // &:hover
            //         transform: rotate(0)
            &-icon
                font-size: 1.5rem
                height: 1.69rem
                width: 1.5rem
                
    &__button
        width: 11.625rem
        height: 3.125rem
        align-self: center
        // font-size: 1.125rem
        // font-weight: 500
        // border-radius: 1.875rem
        // box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10)
        // background: s.$green
        // color: s.$green-font

@media (min-width: 1024px)
    .menu
        margin: -3rem 12rem 0
        padding: 3rem 10rem 2.5rem 13rem
        &__title
            justify-content: center
            gap: 3.5rem