@use 'style' as s
    
.header__container
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 0 16px

.header__arrow-icon
    color: s.$black
    font-size: 1.3rem
    margin-right: 1rem
.header__logo
    box-shadow: none

.menu
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    gap: 1rem