*
    font-family: 'Roboto', sans-serif
    scroll-behavior: smooth
    box-sizing: border-box
    scroll-behavior: smooth

$primary-color: #9356DC
$black: #101010
$white: #FFFFFF
$grey: #353535
$grey-2: #EAEAEA
$background: #F6F6F6
$blue: #89C8FA
$blue2: #003A68
$green: #99E2D0
$green-font: #008766
$grey-tint4: #7E7E7E

@mixin button-gradient
    background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%)


.btn
    padding: 15px 20px
    text-align: center
    color: $white
    @include button-gradient
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%))
    border-radius: 25px
    border: none
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25)
    font-size: 16px
    font-weight: 500

.btn:hover
    cursor: pointer
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%),linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%)
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35)
    color: $white

body
    margin: 0
    padding: 0
    overflow-x: hidden
    width: 100%

header
    width: 100%

//temporary styles
img
    width: 100%
    height: 231px
    object-fit: cover

a
    text-decoration: none
    color: $white

h1, h2, h3
    margin: 0
    padding: 0

p
    margin: 0
    padding: 0

.container
    max-width: 1440px
    margin: 0 auto
    padding: 0 20px

// header

.header__container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 113px

.header__logo
    display: flex
    width: 100%
    justify-content: center
    align-items: center
    background: $white
    color: $black
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15)

.header__logo-link
    font-family: 'Shrikhand'
    font-size: 30px
    text-decoration: none
    color: $black

.header__location
    display: flex
    width: 100%
    height: 50px
    justify-content: center
    align-items: center
    gap: 17px
    background: $grey-2
    color: $grey
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)

// main
// .hero

.hero_container
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    background: $background

.hero__title
    margin: 40px 0px 27px 0px
    
.hero__title-text
    font-size: 24px
    font-weight: 700
    margin: 0 48px 15px 35px

.hero__title-description
    font-size: 18px
    font-weight: 300
    color: $grey

.hero__button
    margin-bottom: 57px
    
.hero__button-link
    color: $white

    // section-menu

.menu
    padding: 48px 20px 68px 20px

.menu__title-text
    font-size: 24px
    font-weight: 700
    margin-bottom: 26px

.menu__content
    // width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 25px

.menu__content-item
    width: 100%
    display: flex
    flex-direction: row
    justify-content: start
    align-items: center
    gap: 20px
    height: 72px
    border-radius: 20px
    background: $background
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15)
    padding: 25px 38px 28px 36px
    cursor: pointer

.menu__content-icon
    color: $grey-tint4

.menu__content-icon:hover
    color: $primary-color

    // section-restaurants

.restaurants
    background: $background
    margin-bottom: 66px

.restaurants__title
    padding: 54px 0px 20px 20px

.restaurants__title-text
    font-size: 24px
    font-weight: 700

.restaurants__content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 20px

.restaurants__content-item
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    // align-items: center
    // gap: 20px
    // height: 72px
    border-radius: 15px
    background: $white
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10)
    cursor: pointer

.restaurants__content-image
    width: 100%
    height: 175px
    object-fit: cover
    border-radius: 15px 15px 0 0

.restaurants__content-badge
    padding: 10px 20px
    background: $green
    color: $white
    border-radius: 2px
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15)
    position: absolute
    right: 35px
    top: 1000px

.restaurants__content-description
    padding: 16px 0px 16px 16px

.restaurants__content-title
    font-size: 18px
    font-weight: 700
    margin-bottom: 5px

.restaurants__content-text
    font-size: 17px
    font-weight: 300

    // section-footer

.footer__container
    background: $black
    color: $white
    padding: 22px 25px
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 16px

.footer__logo-link
    font-family: 'Shrikhand'
    font-size: 18px
    font-weight: 400
    color: $white

.footer__links
    display: flex
    flex-direction: column
    gap: 7px

.footer__content-icon
    color: $white

.footer__links-text
    font-size: 16px
    font-weight: 500