*
    font-family: 'Roboto', sans-serif
    scroll-behavior: smooth
    box-sizing: border-box
    scroll-behavior: smooth

//colors

$primary-color: #9356DC
$secondary-color: #FF79DA
$black: #101010
$white: #FFFFFF
$gray: #353535
$gray-2: #EAEAEA
$background: #F6F6F6
$blue: #89C8FA
$blue2: #003A68
$green: #99E2D0
$green-font: #008766
$gray-tint4: #7E7E7E


//mixin

@mixin container-padding
  @media screen and (min-width: 768px) and (max-width: 1075px)
    padding: 3rem


//button

.btn
    background: linear-gradient(0deg,rgba($primary-color, .9),rgba($secondary-color, .9))
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25)
    color: $white
    border: none
    cursor: pointer
    font-size: 1rem
    font-weight: 500
    text-decoration: none
    padding: 15.5px 22px
    border-radius: 25px
    transition: .3s

    &:hover
        filter: brightness(1.1)
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35)

body
    margin: 0
    padding: 0
    overflow-x: hidden
    width: 100%

header
    width: 100%

//loader

.cs-loader
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5) 50%, transparent 40%)
  background-size: 150% 150%
  animation: bokeness 3s infinite linear, fadeOut 3s ease-in-out forwards

.cs-loader-inner
  transform: translateY(-50%)
  top: 50%
  position: absolute
  width: calc(100% - 200px)
  color: #fff
  padding: 0 100px
  text-align: center

.cs-loader-inner label
  font-size: 20px
  opacity: 0
  display: inline-block

@keyframes lol
  0%
    opacity: 0
    transform: translateX(-300px)
  33%
    opacity: 1
    transform: translateX(0px)
  66%
    opacity: 1
    transform: translateX(0px)
  100%
    opacity: 0
    transform: translateX(300px)

.cs-loader-inner label:nth-child(6)
  animation: lol 3s infinite ease-in-out

.cs-loader-inner label:nth-child(5)
  animation: lol 3s 100ms infinite ease-in-out

.cs-loader-inner label:nth-child(4)
  animation: lol 3s 200ms infinite ease-in-out

.cs-loader-inner label:nth-child(3)
  animation: lol 3s 300ms infinite ease-in-out

.cs-loader-inner label:nth-child(2)
  animation: lol 3s 400ms infinite ease-in-out

.cs-loader-inner label:nth-child(1)
  animation: lol 3s 500ms infinite ease-in-out

@keyframes bokeness
  0%
    background-position: 0% 0%
  100%
    background-position: 100% 100%

@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0


a
    text-decoration: none

h1, h2, h3
    margin: 0
    padding: 0

p
    margin: 0
    padding: 0

.container
    max-width: 1440px
    margin: 0 auto

// header

.header
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &__logo
        display: flex
        height: 63px
        width: 100%
        justify-content: center
        align-items: center
        background: $white
        color: $black
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15)
        &-link
            font-family: 'Shrikhand'
            font-size: 1.875rem
            text-decoration: none
            color: $black
    &__location
        display: flex
        width: 100%
        justify-content: center
        align-items: center
        gap: 17px
        background: $gray-2
        color: $gray
        font-size: 1rem
        font-weight: 500
        padding: 17px 0
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
    @media (min-width: 768px)
        &__logo
            height: 96px

// main
// section-hero

.hero
    background: $background
    padding: 2.44rem 0 3.56rem 0
    &__container
        display: flex
        flex-direction: column
        justify-content: space-between
        text-align: center
        align-items: center
    &__title-text
        font-weight: 700
        margin: 0 3.62rem 1rem 2.62rem
    &__title-description
        font-size: 1.125rem
        font-weight: 300
        color: $gray
        margin: 0rem 1.62rem 1.69rem 2.13rem
    @media (min-width: 1075px)
        padding: 1.88rem 0

//menu

.menu
    padding: 3rem 1.25rem 4.25rem 2.03rem
    @include container-padding
    &__title-text
        margin-bottom: 1.62rem
    &__content
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 1.56rem
        counter-reset: compteListe
        margin-left: 0.78rem
        &-item
            width: 100%
            display: flex
            flex-direction: row
            justify-content: start
            align-items: center
            gap: 1.25rem
            height: 72px
            border-radius: 1.25rem
            background: $background
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15)
            padding: 1.25rem 2.375rem 1.75rem 2.25rem
            cursor: pointer
            position: relative
            .menu__content-icon
                color: $gray-tint4
                &:hover
                    color: $primary-color
            &:before
                counter-increment: compteListe 1
                content: counter(compteListe) " "
                background: $primary-color
                height: 1.5rem
                width: 1.5rem
                border-radius: 6.25rem
                display: flex
                justify-content: center
                align-items: center
                color: $white
                position: absolute
                left: -0.7rem
        &-title
            font-size: 1rem
            font-weight: 500
    @media (min-width: 1075px)
        padding: 3rem 12.94rem 4.25rem 11.25rem
        &__content
            flex-direction: row
            gap: 2.28rem

    //restaurants

.restaurants
    @include container-padding
    background: $background
    padding: 3.75rem 1.12rem 4.12rem 1.12rem
    &__title
        padding-bottom: 1.25rem
    &-text
        font-size: 1.5rem
        font-weight: 700
    &__content
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 1.25rem
        &-link
            width: 100%
            display: flex
            flex-direction: column
            justify-content: space-between
            border-radius: 15px
            background: $white
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.10)
            cursor: pointer
        &-image
            width: 100%
            height: 174px
            object-fit: cover
            border-radius: 15px 15px 0 0
            position: relative
        &-badge
            padding: 10px 20px
            background: $green
            color: $green-font
            font-size: 0.875rem
            font-weight: 500
            border-radius: 2px
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15)
            position: absolute
            right: 1rem
            top: 1rem
        &-description
            padding: 1rem 0 1rem 1rem
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            color: $black
        &-title
            font-size: 1.125rem
            font-weight: 700
            margin-bottom: 5px
        &-text
            font-size: 1rem
            font-weight: 300
        &-heart
            font-size: 24px
            position: relative
            display: flex
            justify-content: center
            align-items: center
            top: 0
            left: -32px
            &__outline
                position: absolute
            &__solid
                position: absolute
                background: linear-gradient(180deg,#9356DC 0%,#FF79DA 100%)
                background-clip: text
                color: transparent
                opacity: 0
                transition: 0.3s ease-in-out
            &:hover
                cursor: pointer
                .restaurants__content-heart__solid
                    transform: scale(1)
                    opacity: 1
                .restaurants__content-heart__outline
                    background: linear-gradient(180deg,#9356DC 0%,#FF79DA 100%)
                    background-clip: text
                    color: transparent
    @media (min-width: 768px)
        &__content
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: 1fr 1fr
            gap: 1.5rem 2rem
            padding: 25px 0 0
    @media (min-width: 1075px)
        padding: 0 11.25rem 1.88rem 11.25rem
        &__content
            gap: 3.12rem 6.25rem
            padding: 25px 0 0

    //footer

.footer__container
    @include container-padding
    background: $gray
    color: $white
    padding: 1.375rem 1.563rem  
    display: flex
    flex-direction: column
    align-items: flex-start
    gap: 1rem
    .footer__logo-link
        font-family: 'Shrikhand'
        font-size: 1.125rem
        font-weight: 400
        color: $white
    .footer__links
        display: flex
        flex-direction: column
        gap: 7px
        .footer__links-item
        .footer__content-icon
            color: $white
            font-size: 1rem
            width: 1.25rem
        .footer__links-text
            color: $white
            font-size: 1rem
            font-weight: 400
        .main-links
            font-weight: 500

    @media (min-width: 768px)
        height: 7.12rem
        flex-direction: row-reverse
        align-items: flex-end
        .footer__logo-link
            margin-right: 3rem
        .footer__links
            flex-direction: row
            margin-right: 1rem
            gap: 1rem
            &-item:nth-child(2n)
                margin-right: 2rem