*
    font-family: 'Roboto', sans-serif
    scroll-behavior: smooth
    box-sizing: border-box

$primary-color: #9356DC
$black: #101010

body
    margin: 0
    padding: 0
    overflow-x: hidden

.header__logo
    font-family: shrikhand
    font-size: 30px
    text-decoration: none
    color: $black